<!DOCTYPE html>
<html>
<head>
	<meta charset = 'utf-8'/>
	<title>Dashboard</title>
	<link rel="stylesheet" href="semantic/dist/semantic.min.css">
	<style>
		body{padding:50px;}
		h2.ui.header a{
			margin-right:20px;
			color: inherit;
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="ui three column grid">
			<div class="row">
				<div class="three wide column">
					<div class="login" v-if='!email'>
						<h1 class="ui red header">Log in</h1>
						<button class="ui google plus button" @click='login'><i class="google plus icon"></i> Google Plus </button>
					</div>
					<div class='user' v-else>
						<div class="ui mini steps">
							<div class="completed step">
								<i class="user icon"></i>{{email}}
							</div>
						</div>
						<button class="ui inverted small orange button" @click='logout'>Log Out</button></button>
					</div>
				</div>
				<div class="ten wide column">
					<div class="ten wide column">
						<h2 class="ui teal header">
							<a @click="currentView = 'add'">Add demos</a> 
							<a @click="currentView = 'manage'">Manage demos</a>
						</h2>
					</div>
					<component :is='currentView' transition='fade' transition-mode ='out-in' keep-alive></component>
				</div>
			</div>
		</div>
	</div>

<!-- add template -->
	<template id="add">
		<div>
			<form class="ui form">
				<div class="required field">
					<label for="name">Name</label>
					<input type="text" placeholder="Name" v-model="demo.name">
				</div>
				<div class="field">
					<label for="date">Date</label>
					<input type="date" placeholder="Date" v-model="demo.date">
				</div>
				<div class="field">
					<label for="description">Description</label>
					<input type="text" placeholder="Description" v-model="demo.description">
				</div>
				<div class="required field">
					<label for="github">Github</label>
					<input type="text" placeholder="Github" v-model="demo.github">
				</div>
				<div class="two fields">
					<div class=" required field">
						<label for="img">Image</label>
						<input type="file" id='img' @change='sendImg'>
					</div>
					<div class="field">
						<label for="">Uplodaing</label>
						<progress value={{val}} max='100'></progress>
						<span v-if="val != '100'"> {{val}}% uploaded</span>
						<span v-else>上传成功！</span>
					</div>
				</div>
				<div class="required field">
					<label for="tags">Tag</label>
						<select name="tags" id="tags" class="ui dropdown" v-model='demo.tag'>
							<option value="HTML" selected>HTML</option>
							<option value="CSS">CSS</option>
							<option value="JavaScript">JavaScript</option>
						</select>
				</div>
				<button class="ui inverted green button" @click.prevent='addDemo'>Add</button>
			</form>
		</div>
	</template>
	

	<script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyCfmoSRCCWhpylQflAI-ZJCNHc5vqcx5yQ",
	    authDomain: "demos-68bf2.firebaseapp.com",
	    databaseURL: "https://demos-68bf2.firebaseio.com",
	    storageBucket: "demos-68bf2.appspot.com",
	  };
	  firebase.initializeApp(config);
	</script>

	<script src="http://cdn.jsdelivr.net/vue/1.0.26/vue.js"></script>	
	<script src='app/js/admin.js'></script>
</body>
</html>