<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="semantic/dist/semantic.min.css">
	<style>
		body{padding:50px;}
		h1.teal.header{width:20%;margin:10px auto;}
		a.tag.label{margin-right:15px;}
		.tags{
			margin-bottom:15px;
		}
	</style>
</head>
<body>
	
	<div class="container">
		<h1 class="ui teal header">
			<i class="lab icon"></i>
			<div class="content">My Demos</div>
		</h1>
		<div class="ui grid">
			<div class="one wide column"></div>
			<div class="fourteen wide column">
				<p class="tags">
					<i class="large tags icon"></i>
					<a class="ui {{tag.color}} tag label"
					   @click="text = tag.name == 'All' ? '' : tag.name" v-for='tag in tags'>
						{{tag.name}}</a>
				</p>
				<!--图片展示-->
					<div class="three column stackable ui grid">
						<div class="ui active inverted dimmer" v-if="!demos">
							<div class="ui text loader">Loading</div>
						</div>
						<div class="column" v-for="demo in demos | filterBy text in 'tag'">
							<div class="ui card">
								<div class="ui fluid image">
									<div class="ui ribbon label"
										 :class="{'olive':demo.tag=='HTML','green':demo.tag=='CSS','yellow':demo.tag=='JavaScript'}">
										{{demo.tag}} </div>
									<img src="{{demo.imgUrl}}" alt="">
								</div>
								<div class="content">
									<a href="{{demo.src}}" class="header">{{demo.name}}</a>
									<div class="meta">
										<span class="date">{{demo.date}}</span>
									</div>
									<div class="description">{{demo.description}}</div>
								</div>
								<div class="extra content">
									<a href="{{demo.github}}"><i class="github icon"></i>Codes on Github</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


	<!--引入firebase-->
	<script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyCfmoSRCCWhpylQflAI-ZJCNHc5vqcx5yQ",
	    authDomain: "demos-68bf2.firebaseapp.com",
	    databaseURL: "https://demos-68bf2.firebaseio.com",
	    storageBucket: "",
	  };
	  firebase.initializeApp(config);
	</script>
	    

	<script src="node_modules/vue/dist/vue.js"></script>
	<script src='app/js/index.js'></script>
</body>
</html>